@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');


:root {
 --background: #0b1120;
  --foreground: #e5eaf5;

  --primary: #3b82f6;     /* azul */
  --secondary: #06b6d4;   /* ciano suave */
  --accent: #6366f1;      /* roxo suave */

  --muted: #94a3b8;
  --text: #e5eaf5;
}


* {
  margin: 20;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

section {
  padding: 0 2rem;
  scroll-snap-align: start;
  scroll-margin-top: 80px;
}

h1, h2, h3 {
  font-family: var(--font-mono);
  font-weight: 700;
  transition: color 0.3s;
}