.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100px;
  background: rgba(24, 24, 24, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light);
}

.logo span {
  color: var(--primary);
  margin-left: 12px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav a {
  color: var(--light);
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav a:hover {
  color: var(--primary);
}

.nav a:hover::after {
  width: 100%;
}


/* Esconde menu Desktop em telas pequenas */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

/* Links */
.menuMobile .link {
  color: var(--light);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.menuMobile .link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--secondary);
  transition: width 0.3s ease;
}

.menuMobile .link:hover {
  color: var(--secondary);
}

.menuMobile .link:hover::after {
  width: 100%;
}

/* Hamburger */
.menuHam {
  display: none;
  width: 24px;
  height: 20px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;
}

@media (max-width: 768px) {
  .menuHam {
    display: block;
  }
}

/* Hamburger lines */
.menuHam span {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  transition: all 0.4s ease;
  background-color: var(--primary);
}

.menuHam span:nth-child(1) {
  top: 0;
}

.menuHam span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menuHam span:nth-child(3) {
  bottom: 0;
}

/* Hamburger active (transforma em X) */
.menuHam.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.menuHam.active span:nth-child(2) {
  opacity: 0;
}

.menuHam.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 50%;
}

/* Menu mobile */
.menuMobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--background);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: transform 0.4s ease;
  transform: translateX(100%);  
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.menuMobileOpen {
  transform: translateX(0);
}

.menuMobile .link {
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.overlayOpen {
  opacity: 1;
  pointer-events: auto;
}

/* Responsividade */

@media (max-width: 400px) {
  .menuMobile {
    width: 80%;
  }

  .menuMobile .link {
    font-size: 1.2rem;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .logo {
    font-size: 1rem;
  }
} 
